<ion-view title="投注" hide-tabs="true">
  <ion-content>
    <div class="row bar-top">

      <div class="col text-right">
        <span class="text-border text-dark text-small">
          摇一摇
        </span>
      </div>
      <div class="col-75 col text-left padding-left">
         {{'第' + period + '期 离截止' + endtime }}
      </div>

    </div>

    <div class="padding-top padding-left">
      <h5>红球号码<span class="padding-left text-small">选择6个红球</span><span class="ion-android-phone-portrait padding-left"/></h5>
    </div>

    <div class="row" ng-repeat="rows in reds">
      <div class="col" ng-repeat="column in rows">
        <span ng-class="{'red-dark':!inArray(column, selectedReds), 'red-light':inArray(column, selectedReds)}" class="center circle-text" data="{{column}}" ng-if="column <= 35" ng-click="redToggle(column)">{{column}}</span>
      </div>

    </div>

    <div class="padding-left">
      <h5>蓝球号码<span class="padding-left text-small">选择1个蓝球</span><span class="ion-android-phone-portrait padding-left"/></h5>
    </div>

    <div class="row" ng-repeat="rows in blues">
      <div class="col" ng-repeat="column in rows">
        <span ng-class="{'blue-dark':!inArray(column, selectedBlues), 'blue-light':inArray(column, selectedBlues)}" class="center circle-text" data="{{column}}" ng-if="column <= 12" ng-click="blueToggle(column)">{{column}}</span>
      </div>

    </div>


  </ion-content>
  <div class="row fixed-bottom row-center">
    <div class="col">
      <button class="button button-small button-stable button-outline padding-right padding-left" ng-click="randomSelected()">
        机 选
      </button>
    </div>
    <div class="col text-center">
      <span class="text-dark"></span>
    </div>
    <div class="col text-right">
      <button class="button button-small button-positive button-outline padding-right padding-left" ng-click="submitPick()">
        确 定
      </button>
    </div>
  </div>

</ion-view>

