<ion-view title="注册" hide-tabs="true">
  <ion-content>

    <div class="padding">

      <h3>设备ID:</h3>
      <p>{{deviceId}}</p>
      <h3>密码:</h3>
      <p>{{password}}</p>
      <h3>AccessToken:</h3>
      <p>{{token}}</p>


      <button class="button button-small button-positive button-outline padding-right padding-left" ng-click="register()">
        登录
      </button>

      <button class="button button-small button-positive button-outline padding-right padding-left" ng-click="sign()">
        签到
      </button>
    </div>


  </ion-content>


</ion-view>

