<ion-view view-title="首页">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="list card padding text-center">
          <span class="padding">第2016048期</span>
          <br/>
          <a class="button button-assertive button-outline ion-ios-keypad-outline icon-left" href="#/tab/pick">选号</a>
        </div>
      </div>
      <div class="col">
        <div class="list card padding text-center">
          <span class="padding">上期：中奖0人</span>
          <br/>
          <a class="button button-balanced icon-left button-outline ion-ios-list-outline" href="#/tab/history">开奖历史</a>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
      <div class="padding"><a class="button button-dark button-outline" href="#/tab/register">
      <span ng-if="username" class="ion-person"></span>
      {{ username ? points + '分' : '注册登录'}}
      </a></div>
      </div>
      <div class="col">
        <div class="list card padding text-center">
          <span class="padding">00:00开奖</span>
          <br/>
          <a class="button button-calm button-outline icon-left ion-ios-person-outline" href="#/tab/betting">我的投注</a></div>
      </div>
      <!--<div class="col"></div>-->
    </div>
  </ion-content>
</ion-view>
